body.menu-open .content {
  opacity: 0.3;
  pointer-events: none;
}

body.menu-open {
  overflow: hidden;
}

.navbar {
  background-color: #141414;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 60px;
  box-sizing: border-box;
  position: relative;
  z-index: 1001;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar-logo {
  height: 45px;
}

.navbar-menu {
  display: flex;
  gap: 28px;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-menu li a:hover,
.navbar-menu li a.active {
  color: white;
  text-decoration: underline;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  filter: brightness(0.8);
  transition: filter 0.3s ease;
}

.icon:hover {
  filter: brightness(1);
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  cursor: pointer;
}

.menu-icon-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon-bar.open:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon-bar.open:nth-child(2) {
  opacity: 0;
}

.menu-icon-bar.open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.side-menu {
  display: none;
  position: fixed;
  top: 60px;
  left: -250px;
  height: calc(100% - 60px);
  width: 250px;
  background-color: white;
  color: #141414;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
  margin-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.side-menu.open {
  left: 0;
  display: block;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  margin: 20px 0;
}

.side-menu li a {
  color: #141414;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: color 0.3s ease;
}

.side-menu li a:hover,
.side-menu li a.active {
  color: #d51313;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .navbar-menu {
    display: none;
  }

  .menu-icon {
    display: flex;
    order: 1;
  }

  .navbar-icons {
    order: 3;
  }
}

@media (max-width: 480px) {
  .side-menu li a {
    font-size: 16px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
